In [12]:
import pandas as pd
from datetime import date

In [19]:
df = pd.read_excel(f"C:\\Users\\Rakesh\\Downloads\\realizedPnl_report_2122_Future & Options.xlsx")
df = df[:143]

In [26]:
df = df[['Symbol','Total PL','Buy Date']]
df['Buy Date'] = pd.to_datetime(df['Buy Date'], dayfirst=True)
df1 = df.groupby('Buy Date').sum()
df1['Capital'] = 100000 + df1['Total PL'].cumsum()
df1

            Total PL    Capital
Buy Date
2022-02-01  -8652.50   91347.50
2022-02-02   4242.50   95590.00
2022-02-03  -1178.75   94411.25
2022-02-04    -93.75   94317.50
2022-02-07  -5755.00   88562.50
2022-02-08   2405.00   90967.50
2022-02-09   2720.00   93687.50
2022-02-10   3726.25   97413.75
2022-02-11    905.00   98318.75
2022-02-14   1858.75  100177.50
2022-02-15   2713.75  102891.25